<%
  begin
    r = Resource.find(plugin_model.resource_id)
    f = r.media_files.first
%>

<%
	# construct URL for link to UMMA Catalog
	# Disabled at request of John Turner, but preserving in case it is wanted in the future
	# collection_id = r.collection_identifier.gsub(/([0-9]+)\/([0-9.]+)/, 'x-\1-sl-\2')
	# collection_url = 'http://quod.lib.umich.edu/m/musart/' + collection_id
%>

<span class='previewMedia'>
<%=
      render partial: 'media_plugins/collectiveaccess_link_preview', locals: {plugin_model: f.sourceable, version: version, width: nil, height: nil}
%>
<%
	if !(version.to_s == "icon" || version.to_s == "thumbnail" || caption == 'no')
%>
		<div class="previewMediaCaption row">
			<div class="col-xs-12 text-left previewMediaCol idle-fade">
<%
	if(links)
%>
				<div class="mediaTips">
					<span class="popoverWrapper mediaTipsTrigger" title="UMMA Object Image"><div class="previewMediaIcon"><i class="fa fa-image" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-institution" aria-hidden="true"></i></div></span>
				</div>
<%
	end
%>
				<%= sanitize(local_assigns[:caption]) %>
			</div>
		</div>
<%
	end
%>
</span>
    <%
  rescue
%><%=
      '<div class="iconPadding"><i class="fa fa-image fa-5x"></i></div>'.html_safe
%><%
  end
%>
