<a
  data-flickr-embed="true"
  data-header="true"
  data-footer="true"
  href="<%= plugin_model.original_link %>"
  target="_blank"
>
  <%=
      # TODO: don't hard code image label in here
      image_tag flickr.photos.getSizes(photo_id: plugin_model.photo_id).find {|p| p['label'] == 'Medium' }['source']
  %>
</a>