<%= link_to("Download Google Doc", plugin_model.original_link, class: "idle-fade")  %>
<div class="googleLargeIcon"><%= link_to(image_tag('gdocs_icon_175x175.jpg'), plugin_model.original_link, :target => '_blank') %></div>

