<span class='previewMedia'>
<%=
  get_file_icon(mimetype: plugin_model.file_content_type, size: 5, image: plugin_model.media_file.thumbnail, version: version)
%>
  <br/>
  <%= MIME::Types[plugin_model.file_content_type].first.friendly if (plugin_model.file_content_type) %>
  <br/>
<%
	if (version.to_s != "icon" && version.to_s != "thumbnail")
%>
  		<div class="previewMediaIcon" title="File upload"><i class="fa fa-file" aria-hidden="true"></i></div>
<%
	end
%>
</span>