<span class='previewMedia'>
<%=
  size = media_size_for_version(version)
  image_tag plugin_model.media_file.thumbnail.thumb(size[:area], format: 'jpeg', frame: 0).url if (defined? plugin_model.media_file.thumbnail.stored? && plugin_model.media_file.thumbnail.stored?)
%>
<%
	if (version.to_s != "icon" && version.to_s != "thumbnail")
%>
  		<div class="previewMediaIcon" title="File upload"><i class="fa fa-file" aria-hidden="true"></i></div>
<%
	end
%>
</span>