<span class='previewMedia'>
<%=
  get_file_icon(mimetype: plugin_model.file_content_type, size: 5, image: plugin_model.media_file.thumbnail, version: version)
%>
  <br/>
<%
  file_type = MIME::Types[plugin_model.file_content_type].first.friendly if (plugin_model.file_content_type) 
  case file_type
  when 'Adobe Portable Document Format'
      display_file_type = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF'
  when /Presentation/
      display_file_type = '<i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> Presentation'
  when /Spreadsheet/
      display_file_type = '<i class="fa fa-file-excel-o" aria-hidden="true"></i> Spreadsheet'
  when /Image/
      display_file_type = '<i class="fa fa-file-image-o" aria-hidden="true"></i> Image'
  when /Word/
      display_file_type = '<i class="fa fa-file-word-o" aria-hidden="true"></i> Text Document'
  when /Video/
      display_file_type = '<i class="fa fa-video-camera" aria-hidden="true"></i> Video File'
  when /Audio/
      display_file_type = '<i class="fa fa-file-audio-o" aria-hidden="true"></i> Audio File'
  else
      display_file_type = file_type
      #display_file_type = 'Unknown File Type'
  end
%> 
<%
	media_id = plugin_model.media_file.id
	if !(version.to_s == "icon" || version.to_s == "thumbnail" || caption == 'no')
%>
		<!-- This renders the Media type/source thumbnail along with a popover guide to the icons -->
			<div class="previewMediaCaption row">
				<div class="col-xs-12 previewMediaCol text-left idle-fade">
					<div class="mediaTips">
						<span class="popoverWrapper infoIcon" title="Local File"><div class="previewMediaIcon"><i class="fa fa-file" aria-hidden="true"></i> <%= display_file_type.nil? ? "Unknown" : display_file_type.html_safe %></div></span>
					</div>
					<%= sanitize(local_assigns[:caption]) %>
				</div>
			</div>
	  	<!-- End Media guide and thumbnail section -->
<%
	end
%>
</span>
