<span class='previewMedia'>
<%=
  size = media_size_for_version(version)
  image_tag plugin_model.media_file.thumbnail.thumb(size[:area]).url if (defined? plugin_model.media_file.thumbnail.stored? && plugin_model.media_file.thumbnail.stored?)
%>
<%
	if (version.to_s != "icon" && version.to_s != "thumbnail")
%>
  		<!-- This renders the Media type/source thumbnail along with a popover guide to the icons -->
		<div class="previewMediaCaption">
			<div class="mediaTips">
				<span class="popoverWrapper infoIcon" title="Vimeo video"><div class="previewMediaIcon"><i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-vimeo" aria-hidden="true"></i></div></span>
			</div>
	  	</div>
	  	<!-- End Media guide and thumbnail section -->
<%
	end
%>
</span>
