<% if user_signed_in? %>
    <li>
      <%= link_to('My Account (' + current_user.email + ')', edit_user_registration_path) %>
      <%= link_to('My Dashboard', '/dashboard') %>
    </li>
<% else %>
    <li>
      <%= link_to('Register', new_user_registration_path)  %>
    </li>
<% end %>
