<div id="favorite-control-status">
  <div class="flash-notice" id="favorite-control-status-message">

  </div>
</div>
<%=
  if (favorite_id = Resource::is_favorite(current_user.id, resource.id))
    link_to "Unfavorite this " + resource.resource_type_for_display, remove_favorite_path(favorite_id), remote: true, method: :post, id: "unfavoriteControl"
  else
    link_to "Favorite this " + resource.resource_type_for_display, add_favorite_path(resource.id), remote: true, method: :post, id: "favoriteControl"
  end
%>