<div class="panel panel-primary">
  <div class="panel-body">
    <%= simple_form_for(@local_file) do |f| %>
    <%= f.error_notification %>

      <%= f.input :media %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
    <% end %>
  </div>
</div>
