<% content_for :page_title do %>
    <title>Welcome to the Exchange</title>
<% end %>
<div class="row featureBox">
  <div class="col-md-12">
    <div class="featureBoxText">
      <H2>Welcome to the Exchange</H2>
      <p>Here you can explore UMMA's Collections and discover Learning Resources created by scholars, educators, and other visitors.  
      Create your own virtual exhibitions, presentations, class assignments, image portfolios and personal collections of your favorites, 
      using UMMA objects along with web resources. Use the Collections and Learning Resources created and housed in the Exchange for research, 
      teaching, learning and fun.  Keep your creations private or share them with others to enjoy.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
	<form action="#" id="welcomeSearchForm">
		<div class="welcomeSearchGroup">
			<input type="text" class="welcomeSearch" name="q" id="welcomeSearch" autocomplete="new-password" placeholder="Search for artworks, learning resources and more"/>
			<a href="#" class="welcomeSearchIcon"><i class="glyphicon glyphicon-search"  aria-hidden="true"></i></a>
			<a href="#" class="welcomeSearchClear"><i class="glyphicon glyphicon-remove-sign" aria-hidden="true"></i></a>
		</div>
		<div class="welcomeSuggestions">Not sure what to search for? Try <%=
			terms = @suggested_search_terms.map { |t|
				'<a href="#" data-term="'+ t +'" class="welcomeSuggestionTerm">' + t + '</a>' 
			}
			terms.join(', ').html_safe
		%>
	</form>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="results">
  
  </div>
</div>

