<% content_for :page_title do %>
    <title>Welcome to the Exchange</title>
<% end %>
<div class="row featureBox">
  <div class="col-md-12">
    <div class="featureBoxText">
      <H1>Welcome to the Exchange - Explore our Collection</H1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
	<form action="#" id="welcomeSearchForm">
		<div class="welcomeSearchGroup">
			<input type="text" class="welcomeSearch" name="q" id="welcomeSearch" autocomplete="new-password" placeholder="Search for artworks, learning resources and more"/>
			<a href="#" class="welcomeSearchIcon"><i class="glyphicon glyphicon-search"  aria-hidden="true"></i></a>
			<a href="#" class="welcomeSearchClear"><i class="glyphicon glyphicon-remove-sign" aria-hidden="true"></i></a>
		</div>
		<div class="welcomeSuggestions">Not sure what to search for? Try <%=
			terms = @suggested_search_terms.map { |t|
				'<a href="#" data-term="'+ t +'" class="welcomeSuggestionTerm">' + t + '</a>' 
			}
			terms.join(', ').html_safe
		%></div>
	</form>
	<div class="pull-right"><a id='refineTriggerOpen' class='refineTrigger btn btn-default'>Refine</a></div>
	</div>
</div>

<div class="row">
  <div class="col-md-12 welcomeRefine" style="margin-top: 10px;">
	<div class="refineContainer" id="refineContainer"> </div>
  </div>
</div>

<div class="row">
	<div class="col-md-12" id="results"> </div>
</div>

<script>
	jQuery(document).ready(function() {
		jQuery(".refineTrigger").on('click', function() {
			jQuery(".refineContainer").slideDown(250);
			jQuery("#refineTriggerOpen").hide();
			jQuery("#refineContainer").load("/welcome/refinepanel");
		});
		
		// Refine UI: remove filter
		jQuery('#results').on('click', ".removeFilter", function(event, data){
			event.preventDefault();
			var remove_id = jQuery(this).data('remove_id');
			jQuery(".loading").show();
			jQuery.getJSON("<%= welcome_refine_no_query_path() %>?unrefine[]=" + remove_id, function(data) {
				jQuery("#results").html(data.html);
				jQuery("#refineContainer").load("/welcome/refinepanel");
				jQuery(".loading").hide();
				return true;
			});
		});
		
	});
</script>