<% content_for :page_title do %>
    <title>Welcome to the Exchange</title>
<% end %>
<div class="row featureBox">
  <div class="col-md-12">
    <div class="featureBoxText">
      <H1>Explore UMMA's Collection</H1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
	<form action="#" id="welcomeSearchForm">
		<div class="welcomeSearchGroup">
			<input type="text" class="welcomeSearch" name="q" id="welcomeSearch" autocomplete="new-password" placeholder="Search for artworks, learning resources and more"/>
			<a href="#" class="welcomeSearchIcon"><i class="glyphicon glyphicon-search"  aria-hidden="true"></i></a>
			<a href="#" class="welcomeSearchClear"><i class="glyphicon glyphicon-remove-sign" aria-hidden="true"></i></a>
		</div>
		<div class="welcomeSuggestions">
			<div class="pull-right"><a id='refineTriggerOpen' class='refineTrigger btn btn-default'>Refine Result</a></div>
			
			Not sure what to search for? Try <%=
			terms = @suggested_search_terms.map { |t|
				'<a href="#" data-term="'+ t +'" class="welcomeSuggestionTerm">' + t + '</a>' 
			}
			terms.join(', ').html_safe
		%>
		</div>
	</form>
	</div>
</div>

<div class="row">
  <div class="col-md-12 welcomeRefine" style="margin-top: 10px;">
	<div class="refineContainer" id="refineContainer"> </div>
  </div>
</div>

<div class="row">
	<div class="col-md-12" id="results"> </div>
</div>
