<div class="row" class="row">
  <div class="col-md-12">
    <div id="query_search_content">
    	<%= render :partial => "welcome/welcome_search_results" %>
    </div>
  </div><!-- end col -->
</div><!-- end row -->

<div class="loading">Loading&#8230;</div>