<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	</head>
	<body>
		<p>A Report has been recieved on the following resource:</p>

		<p>Reporter Email: <%= @email %></p>

		<p>Resource Title: <%= @title %></p>

		<p>Resource ID: <%= @id %></p>

		<p>Report Message:<br/><%= @report %></p>
	</body>
</html>
