<div class="panel-body">
  <% if @resource.tags.count > 0 %>
      <ul>
        <% @resource.comments.each do |c| %>
            <li><%= (c.comment.length > 0) ? c.comment.length : '<EMPTY>' %>, by <i><%= c.user_name %></i></li>
        <% end %>
      </ul>
  <% else %>
      <p>No comments</p>
  <% end %>
</div>