<div class="panel panel-primary">
	<div class="panel-body">
		  <% if @resource.tags.count > 0 %>
			<% @resource.comments.each do |c| %>
			  <p><%= c.comment %><br/><small>&mdash; by <i><%= c.user_name %></i></small></p><HR/>
			<% end %>
		  <% else %>
     		 <p>No comments</p>
  		<% end %>
	</div><!-- end panel-body -->
</div><!-- end panel -->