<div class="modal fade modal-wide" id="carousel-full" tabindex="-1" role="dialog" aria-labelledby="fullCarousel-label" aria-hidden="true">
	<!--<div class="modal-dialog">-->
		<div id="slideJumbo" class="jumbotron">
			<div class="container jumboPadding">
				<div class="row">
					<div class="col-sm-12 jumboHead modal-header">
						<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Close</span></button>
					</div>
				</div>			
				<div class="row modal-black">
					<div class="col-sm-12 jumboPadding">
						<div id="slideCarousel" class="carousel slide modalCarousel" data-ride="carousel" data-interval="false" data-keyboard="true">
						<!-- Wrapper for slides -->
						<div class="carousel-inner scaleImg" role="listbox">
		<%
					  counter = 1
					  @resource.media_files.each do |f| 
						if f.sourceable
							if f.access == 1
							 
		%>
		<%
								begin
									media_display = f.sourceable.render :large
								rescue
									media_display = f.sourceable.preview :large	
								end
		%>	
								<div class="item <%= (counter == 1) ? 'active' : '' %>">
									<div class="carouselImageHeight">
										<%= media_display %>
									</div>
									<div class="captionContainer">
										<div class="slideshowCaption"><%= f.caption.html_safe  %></div>
									</div>
								</div>		
		<%
								counter = counter + 1
							end
						end
					end
		%>
						</div><!-- end carousel-inner -->
		<%
						if @resource.media_files.count > 1
		%>
						  <!-- Left and right controls -->
						  <a id="leftFullCarousel" class="left carousel-control" href="#slideCarousel" role="button" data-slide="prev">
							<span class="control-arrow glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						  </a>
						  <a id="rightFullCarousel" class="right carousel-control" href="#slideCarousel" role="button" data-slide="next">
							<span class="control-arrow glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						  </a>
						<% end %>
					</div><!-- end resourceCarousel -->
					</div>
				</div>
			</div>
		</div>
	<!--</div>-->
</div>