<div class="panel-body">
  <% if @resource.tags.count > 0 %>
      <ul>
        <% @resource.tags.each do |c| %>
            <li><%= (c.tag.length > 0) ? c.tag : '<EMPTY>' %>, by <i><%= c.user_name %></i></li>
        <% end %>
      </ul>
  <% else %>
      <p>No tags</p>
  <% end %>
</div>