<div class="panel panel-primary">
	<div class="panel-body">
		<% if @resource.tags.count > 0 %>
			<% @resource.tags.each do |c| %>
			  <p><%= c.tag %><br/><small>&mdash; by <i><%= c.user_name %></i></small></p><HR/>
			<% end %>
		  <% else %>
			  <p>No tags</p>
		  <% end %>
	</div><!-- end panel-body -->
</div><!-- end panel -->