<div class="row">
	<div class="col-sm-12">
		<H4>
		<%= link_to '<span class="glyphicon glyphicon-arrow-up aria-hidden="true"></span> Dashboard'.html_safe, '/dashboard', class:'btn btn-default btn-xs pull-right' %>

      <%=
        if (@new_parent && @new_parent.id)
         link_to raw("Part of " + @new_parent.title), edit_resource_path(@new_parent)
        elsif (@child)
          link_to raw("Contains: " + @child.title), edit_resource_path(@child)
        elsif (!@resource.id)
          (@resource.is_resource) ? 'New Resource' : 'New Collection'
        end
      %>
      <%=
        if (!@resource.in_response_to_resource_id.nil? && (@resource.in_response_to_resource_id > 0))
          (" (In response to " + link_to( strip_tags(@resource.in_response_to.title), @resource.in_response_to) + ")").html_safe
        end
      %>
    </H4>
	</div><!-- end col -->
</div><!-- end row -->
<div class="row">
	<div class="col-sm-12">
		<%= render 'form' %>
	</div><!-- end col -->
</div><!-- end row -->