<div class="row">
	<div class="col-sm-3 guide_col">
		<h2>User Guide</h2>

		<p>Need help? Look Here!</p>
		
		<div class="panel-group" id="guide_menu" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="introduction">
					<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#guide_menu" href="#intro_subs" aria-expanded="true" aria-controls="intro_subs">
				  Introduction
					</a>
			  		</h3>
				</div>
				<div id="intro_subs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="introduction">
			  		<ul class="list-group">
						<li class="list-group-item"><a href="#what_is_Exchange">What is the Exchange?</li>
						<li class="list-group-item"><a href="#what_can_Exchange_do">What can it be used for?</a></li>
						<li class="list-group-item"><a href="#Exchange_overview">Overview of the Exchange</a></li>
					</ul>
				</div>
				<div class="panel-heading" role="tab" id="dashboard">
					<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#guide_menu" href="#dash_subs" aria-expanded="true" aria-controls="coll_subs">
				  Dashboard
					</a>
			  		</h3>
				</div>
				<div id="dash_subs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dashboard">
			  		<ul class="list-group">
						<li class="list-group-item"><a href="#dashboard_view">Viewing your <em>Collections</em> &amp; resources</a></li>
						<li class="list-group-item"><a href="#dashboard_new">Creating new <em>Collections</em> &amp; Resources</a></li>
						<li class="list-group-item"><a href="#dashboard_fav">Your Favorites</a></li>
						<li class="list-group-item">Groups &amp; Collaboration (Coming Soon)</li>
					</ul>
				</div>
				<div class="panel-heading" role="tab" id="collections">
					<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#guide_menu" href="#coll_subs" aria-expanded="true" aria-controls="coll_subs">
				  Collections
					</a>
			  		</h3>
				</div>
				<div id="coll_subs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collections">
			  		<ul class="list-group">
						<li class="list-group-item"><a href="#collection_new">Creating a new Collection</a></li>
						<li class="list-group-item"><a href="#collection_form">Formatting a Collection</a></li>
						<li class="list-group-item"><a href="#collection_res">Adding resources</a></li>
						<li class="list-group-item"><a href="#collection_sub_par">Addings sub and parent Collections</a></li>
						<li class="list-group-item"><a href="#collection_pre">Previewing</a></li>
						<li class="list-group-item"><a href="#collection_shar">Sharing and Collaboration</a></li>
					</ul>
				</div>
				<div class="panel-heading" role="tab" id="resources">
					<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#guide_menu" href="#res_subs" aria-expanded="true" aria-controls="res_subs">
				  Resources
					</a>
			  		</h3>
				</div>
				<div id="res_subs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="resources">
			  		<ul class="list-group">
						<li class="list-group-item"><a href="#resource_new">Creating a new Resource</a></li>
						<li class="list-group-item"><a href="#resource_media">Adding media</a></li>
						<li class="list-group-item"><a href="#resource_form">Adding auxiliary data/formatting</a></li>
						<li class="list-group-item"><a href="#resource_coll">Adding to <em>Collection</em></a></li>
						<li class="list-group-item"><a href="#resource_pre">Previewing</a></li>
						<li class="list-group-item"><a href="#resource_shar">Sharing and Collaboration</a></li>
					</ul>
				</div>
				<div class="panel-heading" role="tab" id="media">
					<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#guide_menu" href="#media_subs" aria-expanded="true" aria-controls="media_subs">
				  Media
					</a>
			  		</h3>
				</div>
				<div id="media_subs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="media">
			  		<ul class="list-group">
						<li class="list-group-item"><a href="#media_new">Adding a media file</a></li>
						<li class="list-group-item"><a href="#umma_obj">UMMA <em>Collection</em> Objects</a></li>
						<li class="list-group-item"><a href="#flickr">Flickr</a></li>
						<li class="list-group-item"><a href="#google_docs">Google Docs</a></li>
						<li class="list-group-item"><a href="#youtube">YouTube</a></li>
						<li class="list-group-item"><a href="#vimeo">Vimeo</a></li>
						<li class="list-group-item"><a href="#soundcloud">SoundCloud</a></li>
						<li class="list-group-item"><a href="#local_files">Local Files</a></li>
					</ul>
				</div>
				<div class="panel-heading" role="tab" id="collaboration">
					<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#guide_menu" href="#collab_subs" aria-expanded="true" aria-controls="collab_subs">
				  Collaboration
					</a>
			  		</h3>
				</div>
				<div id="collab_subs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collaboration">
			  		<ul class="list-group">
						<li class="list-group-item"><a href="#granting_privledges">Granting edit priviledges to user/group</a></li>
						<li class="list-group-item"><a href="#shared_res_coll">Working on shared Resources/Collections</a></li>
						<li class="list-group-item"><a href="#forking_res_coll">Forking existing Resources/Collections</a></li>
						<li class="list-group-item"><a href="#web_publishing">Publishing to the Web</a></li>
					</ul>
				</div>
				<div class="panel-heading" role="tab" id="search">
					<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#guide_menu" href="#search_subs" aria-expanded="true" aria-controls="search_subs">
				  Searching
					</a>
			  		</h3>
				</div>
				<div id="search_subs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="search">
			  		<ul class="list-group">
						<li class="list-group-item"><a href="#basic_search">Basic search</a></li>
						<li class="list-group-item"><a href="#advanced_serach">Advanced Search</a></li>
					</ul>
				</div>
				<div class="panel-heading" role="tab" id="tools">
					<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#guide_menu" href="#tool_subs" aria-expanded="true" aria-controls="tool_subs">
				  Editing Tools
					</a>
			  		</h3>
				</div>
				<div id="tool_subs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="search">
			  		<ul class="list-group">
						<li class="list-group-item"><a href="#pub_copy_fields">Publication &amp; Copyright Fields</a></li>
						<li class="list-group-item"><a href="#related_items">Related Items &amp; Fields</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-9 guide_col">
		<h2>Introduction</h2>
		<h4>What is the Exchange?<a class="int_link" name="what_is_Exchange"></a></h4>
		<p class="guide_padding">The Exchange is a platform where users can create, remix and share materials from their personal computers and across the web with materials from the UMMA <em>Collections</em>. These Resources (which can be grouped into <em>Collections</em>), allow users to create presentations, slideshows and working groups of artwork, media and text that can be shared with fellow students, colleagues or shared as a public website.</p>
		<h4>What can it be used for?<a class="int_link" name="what_can_Exchange_do"></a></h4>
		<p class="guide_padding">The materials created in the Exchange can be used as a class presentation, a reference tool for museum staff & volunteers, a collaboration tool for students to share resources, and a course planning tool for educators to create new resources for their students. The materials in the Exchange are largely formatted by the users, so they can fit any purpose a user can come up with! </p>
		<h4>Overview of the Exchange<a class="int_link" name="Exchange_overview"></a></h4>
		<p class="guide_padding">The general structure of the Exchange can be broken down into three categories: <em>Collections</em>, Resources, and Media. <em>Collections</em> can contain Resources and other <em>Collections</em>, they provide the general structure of the Exchange. For example a course, say Art History 101, would be a <em>Collection</em>, with sub <em>Collections</em> for Course Materials, Homework, Reference Images and so on. In each <em>Collection</em>, Resources will provide access to specific items. For example the course syllabus would be a Resource in Course Materials, while Goya’s “The Third of May 1808” would be a resource in Reference Images. Each of these Resources, in turn, has associated Media that can be drawn from the UMMA <em>Collections</em>, a user’s computer or from sources online such as YouTube and Flickr. For the course syllabus, the Media would be a PDF uploaded from a users computer. For the Goya, Media would be an image of the painting itself, possibly accompanied by a video examining parts of the painting, or even a podcast of a previous lecture describing it.</p>
		
		<h2>Dashboard</h2>
		<h4>Viewing your Collections &amp; Resources<a class="int_link" name="dashboard_view"></a></h4>
		<p>The <strong>Dashboard</strong> provides an overview of the <em>Dashboard</em> and <em>Resources</em> that you have created and allows you to manage them (edit, delete, copy, share and publish). These options are available in the “Your Learning Collections/Resources” column, which can be searched by Collection/Resource title. The options for each of these are:</p>
		<dl>
			<dt>Preview</dt>
			<dd>View the public page of the Collection/Resource</dd>
			<dt>Edit</dt>
			<dd>Edit the Collection/Resource</dd>
			<dt>Fork</dt>
			<dd>Duplicate the Collection/Resource placing a new copy in your set of materials for editing</dd>
			<dt>Publish/Unpublish</dt>
			<dd>Make the Collection/Resource publicly available online, or make it private. The public URL for 	all materials is the URL available through the Preview option</dd>
			<dt>Delete</dt>
			<dd>Remove the Collection/Resource from your Exchange (NOTE: THIS CANNOT BE UNDONE)</dd>
		</dl>
		<p>You may also view all recent changes made, Collections/Resources created, Media added and materials deleted in the “Your Activity” column. These recently changed materials can be accessed from the column (with the exception of deleted materials).</p>
		<p class="guide_padding">The Search tool is available from all pages. Information on searches can be found <a href="#">below</a>.</p>
		
		<h4>Creating new Collections &amp; Resources<a class="int_link" name="dashboard_new"></a></h4>
		<p class="guide_padding">New materials can be created through the “NEW” button in the upper right hand corner of the Dashboard. Both Collections and Resources can be created here. All new materials are automatically added to your materials and can be accessed at any time from the Dashboard. Once created, add content, text and Media as described in the <a href="#">Collections</a>, <a href="#">Resources</a>, and <a href="#">Media</a> sections below.</p>
		
		<h4>Your Favorites<a name="dashboard_fav"></a></h4>
		<p>This section displays materials that you have flagged as a Favorite. It can be used to save materials for future reference, track the progress of other users’ work or temporarily store items for reference while working on a new Collection/Resource.</p>
		<p class="guide_padding">Similar to “Your Learning Collections/Resources” materials that have been favorited can be searched by title and can be removed from the favorites list by clicking the “x” in the upper right corner of the preview image for each Collection/Resource.</p>
		
		<h4>Groups &amp; Collaboration</h4>
		<p class="guide_padding">TK TK TK</p>
		
		<h2>Collections</h2>
		<h4>Creating a new Collection<a class="int_link" name="collection_new"></a></h4>
		<p>Collections organize the materials in your Exchange, and can contain both other Collections as well as Resources.</p>
		<p>They can be created in several different ways:</p>
		<ol class="guide_padding">
			<li>From the Dashboard as described <a class="int_link" name="#">above</a></li>
			<li>From the Edit Collection screen, where you can add the current Collection to a larger Parent Collection or create a new Sub-Collection within your current Collection</li>
			<li>From the Edit Resource screen, where you can add the current Resource to a new Collection</li>
		</ol>
		
		<h4>Formatting a Collection<a class="int_link" name="collection_form"></a></h4>
		<p>Each new collection can be organized and formatted however you see fit by using the text formatting tools on the Edit Collection screen.</p>
		<p class="guide_padding">In addition to the main body text, there are several fields of <a href="#">additional publication & copyright data</a> and <a href="#">additional publication & copyright data</a> fields that provide additional information and context to the Collection. These options and tools operate in the same manner for Collections and Resources, please see below for reference on using these sections.</p>
		
		<h4>Adding Resources<a class="int_link" name="collection_res"></a></h4>
		<p>Once created, you may add Resources to the new Collection through the right hand column. Clicking Add Resource will open a new screen where you can search for an existing Resource to add to the Collection or create a new Resource.</p>
		<p class="guide_padding">Once added the first Media Item and and Caption from the Resource will be displayed in the column. All Resources can be dragged and re-ordered here, their order determines the order in which they are displayed on the public page for the Collection.</p>
		
		<h4>Adding sub and parent Collections<a class="int_link" name="collection_sub_par"></a></h4>
		<p>Collections can also be used to add a high level of organization to the materials in your Exchange by combining Collections; adding parent Collections that contain many Sub-Collections. This is done from the top bar of the Edit Collection screen.</p>
		<p class="guide_padding">When clicked, you will be able to search for existing Collections and to create new Collections. All Collections work in the same manner with child Resources and Sub-Collections. It is possible for Collections and Resources to have many Collections they are a member of, and Collections can contain as many Collections/Resources as you would like to add.</p>
		
		<h4>Previewing<a class="int_link" name="collection_pre"></a></h4>
		<p class="guide_padding">Once you’ve created a Collection you can click Preview in the upper right hand corner of your screen. This will take you to the public page for the Collection. After reviewing this page you can click Edit to return to the editing screen to make further changes or set the Collection to published.</p>
		
		<h4>Sharing and Collaboration<a class="int_link" name="collection_shar"></a></h4>
		<p class="guide_padding">TK TK TK</p>
		
		<h2>Resources</h2>
		<h4>Creating a new Resource<a class="int_link" name="resource_new"></a></h4>
		<p>Resources provide the contents of your materials in the Exchange. They can describe specific items, events, artworks and other materials, and have Media that depict these things. They are comprised of text with associated data fields (copyright, etc.) along with Media files. They can be organized into Collections.</p>
		
		<p>Each Resource is comprised of three parts:</p>
		<ol>
			<li>The <strong>Body Text</strong>, the main element of the Resource, which provides a free form text area where you can describe the Resource and provide any information you would like. Media can also be embedded in the Body Text.</li>
			<li>The <strong>Additional Fields</strong>, which provide additional information such as copyright status, comments, external links and other information.</li>
			<li>The <strong><a href="#media_new">Media</a></strong>, which allow users to add images, video, audio and documents to the Resource</li>
		</ol>
		
		<p>There are two ways of creating a new Resource:</p>
		<ol>
			<li>From the Dashboard as described <a class="int_link" name="dashboard_new">above</a></li>
			<li>From the Edit Collection screen of any Collection. From the right hand column you can click Add Resource and then select Create New Content to create a new Resource</li>
		</ol>
		<p class="guide_padding">When creating a Resource you will be asked if you would like to add the new Resource to a Collection. This is optional, Resources can exist as stand-alone items, or be added to a Collection (or several Collections) at a later time.</p>
		
		<h4>Adding Media<a class="int_link" name="resource_media"></a></h4>
		<p class="guide_padding">Media are the files that depict the subject of the Resource. These can be drawn from the UMMA Collection, your personal computer or one of several popular websites (Flickr, Google Docs, YouTube, Vimeo and SoundCloud. <a href="#">See Below</a>). To add Media, click Add Media in the right hand column. This will open a window where you can upload a media file and associated data fields (<a href="#">see below</a>)</p>
		
		<h4>Adding auxiliary data/formatting<a class="int_link" name="resource_form"></a></h4>
		<p>Similar to Collections, Resources can be formatted using the Edit Resource screen. The body text is edited by using the text formatting tools available.</p>
		<p>Any Media item can be embedded in the body text through the Media Item button in the body text tools. Media embedding uses a simplified HTML markup with a basic format of <code><media [caption] [version] [width] [height] [float]></code>. The Media Item button will automatically format the image, and the embedded media can be customized with the following options:</p>
		<dl>
			<dt>Caption</dt>
			<dd>The user-assigned caption used to identify the Media. (NOTE: This cannot be edited)</dd>
			<dt>Version</dt>
			<dd>Selects the version of the media to use. Valid options are: “original”, “medium” and “thumbnail”</dd>
			<dt>Width/Height</dt>
			<dd>Sets the specific width & height of the media in pixels (use e.g. width=500)</dd>
			<dt>Float</dt>
			<dd>Set to either “left” or “right” to force the media to align within the body text</dd>
		</dl>
		<p>In addition to the main body text, there are several fields of <a href="#">additional publication & copyright data</a> and <a href="#">related information and materials</a> fields that provide additional information and context to the Resource. These options and tools operate in the same manner for Collections and Resources, please see below for reference on using these sections.</p>
		<p>Resources also have several unique options for configuring the display of Media within the Resource. These can be set from the Formatting tab:</p>
		<dl class="guide_padding">
			<dt>Slideshow</dt>
			<dd>This displays Media items as a slideshow with the body text in a column to the right of the Media</dd>
			<dt>Thumbnails</dt>
			<dd>This displays a grid of preview images for the Media items associated with a Resource. Each can be opened into a larger view</dd>
			<dt>Embed in text</dt>
			<dd>This option disables the automatic display of Media with the Resource, and instead only displays Media where embedded in the body text through the <strong>Media Item</strong> tool.</dd>
		</dl>
		
		<h4>Adding to a Collection<a class="int_link" name="resource_coll"></a></h4>
		<p class="guide_padding">Once created a Resource can be added to a Collection in the top bar of the Edit Resource screen. Each Resource can be a part of as many Collections as is desired/necessary. The Collections the Resource is a member of can be managed from the Collections tab at the bottom of the Edit Resource screen.</p>
		
		<h4>Previewing<a class="int_link" name="resource_pre"></a></h4>
		<p class="guide_padding">Once you’ve created a Resource you can click Preview in the upper right hand corner of your screen. This will take you to the public page for the Resource. After reviewing this page you can click Edit to return to the editing screen to make further changes or set the Resource to published.</p>
		
		<h4>Sharing &amp; Collaboration<a class="int_link" name="resource_shar"></a></h4>
		<p class="guide_padding">TK TK TK</p>
		
		<h2>Media</h2>
		<h4>Adding a Media file<a class="int_link" name="media_new"></a></h4>
		<p>Media files can be uploaded from a range of online sources, as well as from your computer and the UMMA Collection. Each media file associated with a Resource is assigned a caption, and can be embedded within the body text of the Resource (<a href="#resource_media">see above</a> for information on embedding media).

		<p class="guide_padding">Adding media files allows you to combine materials from across the internet in new and engaging ways, sharing the story of an event or artwork through different media. For example a photograph in the UMMA collection could be accompanied by an interview with the photographer and a video of the same event.</p>
		
		<h4>UMMA Collection Objects<a class="int_link" name="umma_obj"></a></h4>
		<p>Artworks in the UMMA Collection can be added to any Resource by searching for them through the <strong>Add Media</strong> tool. Selecting an UMMA artwork will add an image of the artwork along with a brief caption. This caption provides:</p>
		<ul class="guide_padding">
			<li>Artist</li>
			<li>Title</li>
			<li>Medium/technique</li>
			<li>size</li>
			<li>Call Number</li>
			<li>Credit Line</li>
		</ul>
		
		<h4>Flickr<a class="int_link" name="flickr"></a></h4>
		<p>Images can be imported from Flickr by using the main URL to an image page.</p>

		<p class="guide_padding">Images which have had their download rights restricted by the uploader cannot be added to the Exchange. All images released under a Creative Commons license are available as are all items in <a href="https://www.flickr.com/commons" target="_blank">Flickr Commons</a></p>
		
		<h4>Google Docs<a class="int_link" name="google_docs"></a></h4>
		<p>Google documents (docs, sheets and slides) can be added to the Exchange through one of two methods:</p>
			<ol class="guide_padding">
				<li>By providing a link directly to the editable document. To do so please be sure that you have made the document at least viewable (or editable) by the public by setting the sharing options available through the share button in the upper right corner of the Google Docs screen.</li> 
				<li>By selecting “Publish to the Web” from the File menu. This provides a link to a publicly available webpage of the document that is not editable by the public.</li>
			</ol>
		<h4>YouTube<a class="int_link" name="youtube"></a></h4>
		<p class="guide_padding">Videos hosted on YouTube can be added to the Exchange by providing the main URL to the video. YouTube (and Vimeo) videos will embed as playable videos.</p>
		
		<h4>Vimeo<a class="int_link" name="vimeo"></a></h4>
		<p>Similar to YouTube, Vimeo videos can be added as Media by providing the main URL to the video. This will embed a playable video as the Media preview.</p>

		<p class="guide_padding">If the video is password-protected, users will be prompted for a password before they are able to watch the video</p>
		
		<h4>SoundCloud<a class="int_link" name="soundcloud"></a></h4>
		<p class="guide_padding">Audio clips and music can be added as Media through SoundCloud. Adding a SoundCloud file (through a URL) embeds a SoundCloud widget as Media through which the audio file can be played.</p>
		
		<h4>Local Files<a class="int_link" name="local_files"></a></h4>
		<p class="guide_padding">Images and documents can also be uploaded from your computer. These will embed and display similar to the other Media types.</p>
		
		<h2>Collaboration</h2>
		<h4>Subsections pending access control</h4>
		<p class="guide_padding"></p>
		
		<h2>Searching</h2>
		<h4>Basic search<a class="int_link" name="basic_search"></a></h4>
		<p class="guide_padding">The <strong>Basic Search</strong> (available from all pages in the top navigation bar) searches across all fields of Exchange Collections and Resources. This is a useful tool to perform a general search on a topic or quickly locate a item in the Exchange.</p>
		
		<h4>Advanced search<a class="int_link" name="advanced_search"></a></h4>
		<p class="guide_padding">The <strong>Advanced Search</strong> screen provides additional search options depending on the type of Exchange item you would like to search for:</p>
		<dl class="guide_padding">
			<dt>Collections &amp; Resources</dt>
			<dd>Can be searched specifically on title and keywords</dd>
			<dt>UMMA Collection Objects</dt>
			<dd>In addition to title and keywords, UMMA Collection Objects can be searched on a range of fields drawn from the UMMA record for the item. These are: Style/Group/Movement, Artist/Maker, Medium and Support, Artist Nationality, Date Created, Classification/Object Type, Credit Line, Other Dates, Addtl. Classification/Object Type, Related Places, Current Location</dd>
			<dt>UMMA Exhibition</dt>
			<dd>This search allows you to find UMMA Collection Objects associated with an UMMA Exhibition. In addition to searching by title and keyword, Exhibitions can be found by: Artist/Maker, Artist Nationality, Exhibition Dates, Location.</dd>
		</dl>
		
		<h2>Editing Tools</h2>
		<h4>Publication &amp; Copyright Fields<a class="int_link" name="pub_copy_fields"></a></h4>
		<dl class="guide_padding">
			<dt>Subtitle</dt>
			<dd>Provides some additional information helping to identify the Collection</dd>
			<dt>Copyright License</dt>
			<dd>This allows you to select from a set of <a href="https://creativecommons.org/share-your-work/licensing-types-examples/" target="_blank">CreativeCommons licenses</a>, granting different levels of permission to use and edit your work with or without attribution. Also available is the option to assign no copyright to the Collection or note the Collection as a US Government work.</dd>
			<dt>Copyright Notes</dt>
			<dd>These can provide further details about the copyright status of the Collection (or its child Collections, Resources and Media), including contact information for an administrator or link to a further description of the source of the copyright license</dd>
			<dt>Publication Status</dt>
			<dd>Provides the option to set the newly created Collection to be publicly available. By default this is set to “Unpublished”, but if you would like to share your work in progress it may be set to “Published”</dd>
		</dl>
		
		<h4>Related Items &amp; Fields<a class="int_link" name="related_items"></a></h4>
		<dl class="guide_padding">
			<dt>Related</dt>
			<dd>This allows you to set either other Collections and Resources as related to the current Collection. This is a more casual relationship than adding the related resource to a Collection and can be used where the materials might be similar or of note for some specific reason (which can be described in the relationship’s caption).</dd>
			<dt>Tags</dt>
			<dd>These are terms that you can assign to the Collection that describe either its purpose or its contents. Once public, all users will be able to add tags to the Collection and they can be managed here.</dd>
			<dt>Comments</dt>
			<dd>Similar to Tags you can add comments to any Collection, and once public, so can other Exchange users. From this section you can delete any comments left on your Collection by users.</dd>
			<dt>Links</dt>
			<dd>These are links to external websites, which may contain useful information or further materials pertaining to your Collection. These will appear with the link text you select displayed.</dd>
			<dt>Collections</dt>
			<dd>This identifies all Collections that this Collection is a member of. This is useful for quickly seeing the parents of a specific Collection and allowing you to navigate among these various Collections.</dd>
		</dl>
	</div>
</div>