/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$gray:#707372
$blue:#10069F
$lt_gray:#EDEDED
$font-family-sans-serif:'Quicksand', sans-serif
$brand-primary:$blue
$border-radius-base:3px
$border-radius-large:none
$border-radius-small:none
$navbar-default-bg:#FFF
$navbar-default-border:#FFF
$navbar-default-brand-color:$blue
$navbar-default-link-color:#000
$form-group-margin-bottom:8px
$input-border:$lt-gray
$input-border-focus:$gray
$btn-default-color:white
$btn-default-bg:$gray
$btn-default-border:$gray
$panel-heading-padding:10px 15px
$panel-default-heading-bg:$gray
$panel-bg:$lt_gray


@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700)
@import "bootstrap-sprockets"
@import "bootstrap"
@import "overlay-bootstrap"
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5"
@import "notifications"
@import "base"