$font-family-sans-serif:'Quicksand', sans-serif;
$blue:#10069F;
$gray:#707372;
$lt_gray:#DEDEDE;
html{
	position:relative;
	min-height: 100%;
}
body {
	padding-top: 70px; 
	padding-bottom: 80px;
}
a:hover{
	background:inherit;
}
p, ul, li{
	font-family: $font-family-sans-serif;
}
.btn-default, a.btn-default{
	color:white;
}
h2, .h2{
	font-weight:500;
}
h4{
	background-color:$gray;
	color:white;
	text-transform:uppercase;
	padding:10px 15px 10px 15px;
	margin-top:0px;
	.btn-default{
		color:white;
		background:transparent;
		border:0px;
		margin-left:10px;
	}
}
.navbar-header{
	
	a.navbar-brand{
		font-size:30px;
		font-weight: 700;
		text-transform:uppercase;
		.glyphicon{
			font-size:24px;
			margin-left:3px;
			margin-right:1px;
			color:$gray;
		}
		img{
			max-width:102px;
			height:auto;
			display:inline;
			margin:-5px 2px 0px 0px;
		}
	}
}
.navbar-form{
	.form-control{
		background-color:black;
		border:none;
		color:white;
		box-shadow: none;
	}
	.form-control:focus{
		border:none;
  		box-shadow: none;
  		outline: 0 none;
	}
	.btn-default{
		border:1px solid black;
		background-color:black;
		padding-left:0px;
		color:white;
	}
	::-webkit-input-placeholder{  
	   color: white;  
	}
	:-moz-placeholder{  
	   color: white;  
	}
	::-moz-placeholder{  
	   color: white;  
	}
	:-ms-input-placeholder {  
	   color: white;  
	}
}
#navbar{
	a{
		font-family:$font-family-sans-serif;
		font-weight:400;
		text-transform:uppercase;
	}
	ul.dropdown-menu a{
		font-family:$font-family-sans-serif;
		font-weight:400;
		text-transform:none;
	}
	.dropdown .glyphicon{
		color:$gray;
	}
}
.shadowed{
	box-shadow: 0px 0px 3px $gray;
}
label.control-label{
	margin-bottom:0px;
}
.form-control{
	box-shadow:none;
}
.panel-heading{
	color:white !important;
	text-transform:uppercase;
}
.panel-body a{
	color:$blue;
	.glyphicon{
		margin-top:3px;
	}
}
.panel{
	box-shadow:none;
	border:0px;
}
.wysihtml5-toolbar{
	a{
		color:$gray !important;
		padding:3px;
		background-color:$lt_gray;
		border:0px;
	}
	a:hover{
		background-color:white;
	}
}
.hpGray{
	margin-top:10px;
	background-color:$gray;
	color:white;
	padding:40px 0px 40px 0px;
	.btn-default{
		background-color:black;
		color:white;
		text-transform:uppercase;
		border:0px;
	}
	.btn-default:hover{
		background-color:$blue;
	}
}
.hpFeatureImg{
	.col-sm-4{
		background-color:$lt_gray;
	}
	img{
		width:100%;
		height:auto;
		margin-bottom:2px;
	}
}
.hpFeatureBtn .btn{
	margin-top:-85px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
  color:white;
  padding-top:20px;
  a {
  	color:white;
  }
}
