$font-family-sans-serif:'Hind', sans-serif;
$font-family-sans-serif2:'Oswald', sans-serif;
$blue:#10069f;
$gray:#8a898a;
$bluegray:#337ab7;
$yellow:#f9ce29;
$green:#419276;
$md_gray:#DEDEDE;
$lt_gray:#eaeaeb;
$black:#000000;
$white:#FFFFFF;
$teal:#419276;
$red:#BA0017;

html{
	position:relative;
	min-height: 100%;
}
body {
	padding-top: 100px; 
	padding-bottom: 130px;
	
	font-family: $font-family-sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #8a898a;
	line-height: 1.35em;
}
@media (max-width: 720px) {
	/* sticky footer is not sticky at smaller sizes so remove padding on body */
	body {
		padding-bottom: 0px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 10, /usr/local/rvm/gems/ruby-2.3.1/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 100%;
  }
}
a:hover{
	background:inherit;
}
a, a:focus{
	outline: 0;
	text-decoration:none;
}
a:visited{
	color: $blue;
}
p, ul, li{
	font-family: $font-family-sans-serif;
	font-size: 17px;
	line-height: 1.35em;
}
.btn-default, a.btn-default{
	color:white !important;
}
.btn-noBg{
	color:$blue !important;
	background:transparent !important;
}
.btn-noBg:hover{
	color:$blue !important;
}
.btn-lg-icon i.fa{
	font-size:30px;
}
.btn-lg i.fa{
	font-size:20px;
}
.dropdown-menu .btn{
	text-align:left;
}
.dropdown-menu .btn-noBg:hover{
	background-color:$blue !important;
	color:white !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-top: 10px;
}
h1{
	color:black;
	margin-top:0px;
}
h2, .h2{
	font-size:24px;
}
h3, .h3{
	font-weight:700;
	font-size:17px;
	margin-top:0px;
	padding-top:0px;
}
h4{
	/*background-color:$gray;*/
	color:$gray;
	border-radius:3px;
	background-color:$lt-gray;
	font-weight:600;
	text-transform:capitalize;
	padding:10px 10px 10px 10px;
	margin-top:0px;
	a, a:active, a:focus{
		color:$gray;
		text-decoration:none;
	}
	a:hover{
		text-decoration:none;
	}
	.btn-default{
		color:$gray !important;
		background:transparent;
		border:0px;
		padding-left:10px;
		padding-top:0px;
	}
	.btn-default:hover{
		color:$blue !important;
		background:transparent;
	}
	.small{
		color:black;
		text-transform:none;
		padding-top:5px;
		font-size:11px;
	}
	.headingButtons{
		float:right;
	}
}
@media(max-width: 768px){
	h4 .headingButtons{
		float:none;
	}
	h4 .headingButtons .btn-default{
		padding-left:0px;
		padding-top:10px;
	}
}
.rowLessPadding{
	margin-left:-5px;
	margin-right:-5px;
	div{
		padding-left:5px;
		padding-right:5px;
	}
}
.fullDivideWrapper{
	margin-top:50px;
	margin-bottom:80px;
	.fullDivide{
		position:absolute;
		left:0;
		width:100%;
		background-color:$lt_gray;
		height:15px;
	}
}
.scaleImg img{
  width:100%;
  height:auto;
}
.modal-body .scaleImg img{
    max-height:600px;
    object-fit:contain !important;
}
.modal-body iframe{
  height:400px !important;
  width: 100% !important;
}
.btn{
	font-family:'Oswald', sans-serif;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border:0px;
	border-radius:0px;
}
.btn-lg{
	font-size:17px;
	padding: 0.85em 2em;
}
.btn-green{
	background-color:$green !important;
}
.featureBox{
	margin-right:0px;
	margin-left:0px;
	background-color:$yellow;
	.col-md-6{
		padding:0px;
		.featureBoxText{
			padding:15px;
			p{
				margin-top:20px;
				color:#000000;
				font-size: .9em;
			}
			a, a:visited{
				color:$blue;
			}	
		}
	}
	img{
		width:100%;
		height:auto;
	}
}
@media(max-width:992px){
	.featureBox{
		max-width:500px;
		margin-right:auto;
		margin-left:auto;
	}
}
@media(min-width: 768px){
	.featureBox .col-md-6 .featureBoxText{
		padding:20px 50px 0px 50px;
	}
}
@media(max-width: 768px){
	.featureBox .col-md-6 .featureBoxText .btn{
		margin-bottom:20px;
	}
}
@media(min-width: 1200px){
	.featureBox .col-md-6 .featureBoxText{
		padding:20px 40px 0px 40px;
	}
}
.navbar-toggle {
	margin-top: 12px;
}
.navbar-header{
	min-height:64px;
}
.navbar-header{
	img{
		max-width:auto !important;
	}
	a.navbar-brand{
		font-size:18px;
		font-weight: 700;
		text-transform:uppercase;
		padding:8px 15px 0px 15px;
		.glyphicon{
			font-size:24px;
			margin-left:3px;
			margin-right:1px;
			color:$gray;
		}
		img{
			max-width:auto !important;
			height:auto;
			display:inline;
			margin:0px;
		}
	}
/*	@media(min-width: 768px){
		img{
			max-width:100px !important;
		}
	}
*/
	@media(min-width: 1024px){
		a.navbar-brand{
			font-size:30px;
		}
/*		img{
			max-width:185px !important;
		}*/
	}
}
.navbar-form{
	.quickSearch{
		position:relative;
	}
	@media(max-width: 767px){
		.form-control{
			width:80%;
			display:inline;
			border-radius:0px;
		}
		.quickSearch{
			background-color:transparent;
			height:37px;
			text-align:center;
		}
		.btn-default{
			background-color:transparent;
			color:$gray !important;
		}	
	}
	@media(min-width: 767px){
		.form-control{
			background-color:rgba(255,255,255,0.5);
			border:none;
			color:white;
			box-shadow: none;
			border-radius:0px;
			margin-top:10px;
			margin-left:7px;
		}
		.form-control:focus{
			border:none;
                        color:black;
			box-shadow: none;
			outline: 0 none;
			background-color:rgba(255,255,255,0.8);
		}
		.btn-default{
			border:none;
			background-color:transparent;
			color:white;		
			border-radius:0px;
			font-size:20px;
			margin:0px 0px 0px 6px;
			padding:0px;
			.glyphicon{
				top:5px;
			}
		}
		::-webkit-input-placeholder{  
		   color: white;  
		}
		:-moz-placeholder{  
		   color: white;  
		}
		::-moz-placeholder{  
		   color: white;  
		}
		:-ms-input-placeholder {  
		   color: white;  
		}
		#subQuickSearch{
			text-align:right;
			position:absolute;
			bottom:-23px;
			right:0px;
			font-size:10px;
			color: #fff;
			.subQuerySpacer{
				padding: 0 5px;
			}
			a{
				font-size:10px;
				text-transform:none;
				padding:0px;
			}
		}
		#advSearchLink {
			text-align:right;
			position:absolute;
			bottom:-23px;
			right:88px;
			a{
				font-size:10px;
				text-transform:none;
				padding:0px;
			}
		}
		#logoutLink {
			text-align:right;
			position:absolute;
			bottom:-23px;
			right:0px;
			a{
				font-size:10px;
				text-transform:none;
				padding:0px;
			}
		}
		#newResLink {
			text-align:right;
			position:absolute;
			bottom:-23px;
			right:150px;
			a{
				font-size:10px;
				text-transform:none;
				padding:0px;
			}
		}
      #queryBuilderLink {
        text-align:right;
        position:absolute;
        bottom:-23px;
        right:40px;
        a{
          font-size:10px;
          text-transform:none;
          padding:0px;
        }
      }
	}
}
@media(min-width: 1200px){
	#navbar.navbar-right{
		margin-right:80px;
	}
	.navbar-header{
		img{
			max-width:auto !important;
		}
	}
}
#navbar{
	a{
		font-family:$font-family-sans-serif;
		font-weight:500;
		text-transform:uppercase;
		font-size:17px;
		color:$gray;
		letter-spacing: 1px;
		padding-left:20px;
		padding-right:20px;
	}
	li{
		padding:4px 0px 3px 0px;
	}
	li:hover{
		border-bottom: 7px solid $blue;
	}
	li:hover a{
		color: $bluegray;
	}
	@media(min-width: 1200px){
		li.firsticon{
			padding-left:41px;
			margin-right:-5px;
		}
	}
	li.icon:hover {
		border-bottom: none;
	}
	li.icon:hover a{
		color:$gray;
	}
	li.icon{
		padding-top: 2px;
		a{
			font-size:22px;
			padding-left:15px;
			padding-right:15px;
		}
	}
	ul.dropdown-menu a{
		font-family:$font-family-sans-serif;
		font-weight:400;
		text-transform:none;
	}
	.dropdown .glyphicon{
		color:$gray;
	}
}
#subnavbar{
	background-image: image-url('subNavBg2.png');
	background-position: center top; 
	background-color:$black;
	background-size: cover;
	a{
		font-family:$font-family-sans-serif;
		font-weight:500;
		text-transform:uppercase;
		font-size:17px;
		color:#FFFFFF;
		letter-spacing: 1px;
		padding:25px 20px 25px 20px;
	}
	@media (min-width: 768px) and (max-width: 1200px) {
		a{
			font-size:13px;
			padding:25px 10px 25px 10px;
		}
	}
	.navLogo{
		float:left;
		margin:0px 10px 4px -40px;
		padding:0px;
		text-align:left;
		img{
			height:70px;
			width:auto;
			padding:0px;
			margin:0px;
			max-width:auto !important;
		}
/*		@media(max-width: 1200px){
			img{
				height:50px;
			}
		}
*/
		a{
			padding:0px !important;
		}
	}
	@media (max-width: 992px) {
		.navLogo{
			margin:3px 15px 11px -32px;
			img{
				height:60px;
			}
		}
	}
	@media(max-width: 767px){
		.navLogo{
			margin:0px 0px 0px -15px;
			img{
				height:55px;
			}
		}
	}
	.navTitle{
		float:left;
		padding:0px;
		margin-top:20px;
		text-align:left;
		a{			
			color:$blue;
			letter-spacing: 0.05em;
			font-family:$font-family-sans-serif2;
			font-size:29px;
			font-weight: 700;
			text-transform: uppercase;
			line-height:1em;
			padding:0px !important;
/*			.topLine{
				font-size:20px;
				font-weight: 400;
				line-height:auto;
				padding:0px !important;
			}
*/
		}
		@media(min-width:768px) and (max-width:1024px){
			a{
				/*font-size:30px;*/
			}
		}
		a:hover{
			text-decoration:none;
		}
	}
	@media(max-width: 767px){
		#exmenu{
			background-color:#FFF;
			clear:both;
			a{
				color:$gray;
				padding-top:5px;
				padding-bottom:5px;
			}
		}
	}
	@media(min-width: 767px){
		li{
			padding:2px 0px 0px 0px;
		}
		li:hover, li.dropdown.open{
			background-color:rgba(255,255,255,0.1);
			border-bottom:7px solid $teal;
			a{
				padding-bottom: 20px;
				background-color:transparent;
			}
			ul.dropdown-menu{
				margin-top:7px;
			}
		}
		li.dropdown.open ul li{	
			border:0px;
			a{
				color:$gray;
				padding:0px;
				font-size:12px;
				padding:5px 10px 5px 10px;
			}
		}
		li.dropdown.open ul li:hover{
			a{
				padding:0px;
				border:0px;
				padding:5px 10px 5px 10px;
			}
		}
	}	
}
#advancedSearchContainer{
	display:none;
	.btn-noBg{
		font-size:20px;
		margin-top:-12px;
		margin-right:-10px;
	}
	.additionalFields{
		display:none;
	}
}
@media(min-width:992px){
	.affiliationItem{
		width: 14%;
		}
}

#queryBuilderContainer{
  display:none;
  .btn-noBg{
    font-size:20px;
    margin-top:-12px;
    margin-right:-10px;
  }
  .additionalFields{
    display:none;
  }
}

.shadowed{
	box-shadow: 0px 0px 3px $gray;
}
label.control-label{
	margin-bottom:0px;
}
.form-control{
	box-shadow:none;
}
.panel-heading{
	color:white !important;
	text-transform:uppercase;
}
.panel-body{
	a{
		color:$blue;
		.glyphicon{
			margin-top:3px;
		}
	}
	input, select, .form-control{
		border:none;
	}	
	HR, hr{
		color: white;
		border-color: white;
		margin:5px 0px 10px 0px;
	}
}
.panel{
	box-shadow:none;
	border:0px;
}
input.input-sm{
	font-size:10px;
	padding:3px;
	height:19px;
	line-height:1em;
}
select.input-sm{
	font-size:10px;
	padding:3px;
	height:21px;
	line-height:1em;
}
.wysihtml5-toolbar{
	a{
		color:$gray !important;
		padding:3px;
		background-color:$lt_gray;
		border:0px;
	}
	a:hover{
		background-color:white;
	}
}
.note-toolbar{
	background-color:white !important;
	.btn-group{
		margin-top:0px !important;
		margin-right:0px 5px 0px 5px;
		.note-btn{
			color:$blue !important;
			background-color:white;
			margin:0px !important;
			padding:5px 5px 0px 5px;
		}
		.open > .note-btn.dropdown-toggle, .open > .note-btn.dropdown-toggle:hover{
			background-color:white !important;
		}
	}
}
.formatting_options label{
	font-weight:normal;
}
.hpFeatures{
	margin-top:30px;
	.row{
		margin-top:30px;
	}
	H1{
		margin-top:50px;
		margin-bottom:50px;
		p{
			padding-top:10px;
			font-size:20px !Important;
			color:black;
			font: $font-family-sans-serif;
			font-weight:normal;
			text-transform:none;
		}
	}
	img{
		width:100%;
		height:auto;
	}
	H3{
		text-transform:none;
		margin-top:5px;
	}
}
.dbResourceList{
	max-height:495px;
	overflow-y:auto;
	margin-bottom:20px;
}
.dbActivityList{
	max-height:400px;
	overflow-y:auto;
	margin-bottom:20px;
}
.dbUnit{
	padding:5px 10px 5px 10px;
	.btn{
		margin-right:10px;
	}
	.dropdown-menu{
		min-width:auto;
		.btn{
			margin-right:0px;
			text-align:left
		}
		.btn:hover{
			color:white !important;
			background-color:$blue !important;
		}
	}
	HR{
		color: $lt_gray;
		margin:10px 0px 5px 0px;
	}
	input.form-control{
		width:85%;
		display:inline;
		position:relative;
		top:-2px;
	}
	select.form-control{
		width:100%;
		display:inline;
	}
	button{
		color:$blue;
		padding:0px 0px 0px 3px;
		border:0px;
		background-color:transparent;
	}
	.dbFavorite{
		font-size:11px;
		position:relative;
		margin-bottom:10px;
        line-height:1.1em;
		img{
			width:100%;
			height:auto;
			margin:0px 0px 5px 0px;
		}
	}
}
.dbResourceTip, .dbCollectionTip{
	position: relative;
	top: 3px;
}
.popover-content{
	color: $gray;
}
.previewThumbnail{
	min-height:250px;
	text-align:center;
	padding:10px;
	.caption{
    		font-size:11px;
    		padding:5px 0px 0px 0px;
    		line-height:1.1em;
    		color:$gray;
    		height:auto;
		text-align:left;
  	}
	.coLink{
		background-color: $green;
		color: $white;
		padding: 2px 0;
		font-size: 11px;
		text-align: center;
		a {
			color: $white;
		}
	}
  	iframe{
   		 width: 100% !important;
  	}
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
	#footer1{
		background-color:#191a1b;
		display:none;
		padding:14px 0px 0px 0px;
		min-height:56px;
		.enewsletter{
			font-family: $font-family-sans-serif2;
			font-size: 14.5px;
			font-weight: 700;
			color:white;
			text-transform:uppercase;
			input.email{
				display:inline;
				font-family: $font-family-sans-serif;
				font-size: 12px;
				width: 200px;
				border-radius: 0;
				background-color: #717372;
				color: #fff;
				border: 0;
				margin: 0 -4px 0 0;
				height: 32px;
				vertical-align: top;
				font-weight: normal;
				margin-left:20px;
				padding-left:7px;
			}
			.button{
				display:inline;
				font-family: $font-family-sans-serif2;
				text-transform: uppercase;
				background: $blue;
				color: white;
				border: 0px;
				border-radius: 0;
				padding: 0 18px;
				margin: 0;
				font-size: 13px;
				height: 32px;
				font-weight: 700;
				letter-spacing: 0.04em;
			}
		}
		.social{
			text-align:right;
			padding-top:5px;
			a{
				color:#FFF;
				font-size:25px;
				text-align:right;
			}
			.fa{
				padding-left:10px;
				padding-right:10px;
			}
			.fa {
				font-size:24px;
			}
			.fa.fa-circle {
    			padding-left: 2px;
    			padding-right: 10px;
    			font-size:18px;
			}
			.fa.fa-circle:first-of-type {
    			padding-left: 10px;
    			padding-right: 0px;
			}
			img{
				padding-left:14px;
				position:relative;
				top:-4px;
			}
		}
	}
	#footer2{
		background-color:$blue;
		font-family: $font-family-sans-serif;
		font-size: 10px;
		font-weight: normal;
		text-align: left;
		color: #FFFFFF;
		min-height:31px;
		.footer-hours {
			font-family: $font-family-sans-serif2;
			letter-spacing: 0.04em;
			font-size: 15.5px;
			font-weight: 400;
			padding-top:4px;
			a{
				text-decoration:underline;
			}
			#footerArrow{
				position:absolute;
				top:-13px;
				left:23px;
				background-color:$blue;
				border-top-left-radius:15px;
				border-top-right-radius:15px;
				padding:3px 8px 0px 10px;
				height:15px;
				overflow:hidden;
				a{
					color:#FFF;
					font-size:20px !important;
					text-decoration:none;
				}
			}
		}
		.copyright{
			text-align:left;
			padding:5px 0px 8px 0px;
			font-family: $font-family-sans-serif;
			letter-spacing: 0.076em;
			font-size: 10px;
			line-height: 1.35em;
			font-weight:normal;
		}
		@media (min-width: 1200px) {
			.copyright{
				padding:9px 0px 0px 0px;
			}
		}
		a {
  			color:white;
  		}
	}
}
@media (max-width: 720px) {
	#footer {
	  position: relative;
	  margin-top:75px;
	}
}
li.tagList {
  list-style: none;
}
/* LOGIN FORM */
.oauth-buttons{
	margin-bottom:0px;
}
.oauth-button{
	padding: 10px 10px 10px 10px;
	width:100%;
	margin-bottom:10px;
	text-transform:none;
	text-align:left;
	font-size:20px;
	font-weight: 500;
	font-family: $font-family-sans-serif !important;
}
.oauth-button .icon{
	float:left;
	width:50px;
	text-align:center;
	margin-right:20px;
	padding-right:10px;
	border-right:1px solid $white;
	line-height:1em !important;
}
.oauth-button img{
	height:30px;
	width:auto;
	padding-top:5px;
	padding-bottom:5px;
}
.oauth-button .fa{
	font-size:25px;
	margin-top:2px;
}

.login_new_user {
	display: none;
}

.exchange_register{
	margin-top: 25px;
}
/* forms */
.form-group{
	font-size:14px;
}
.form-group label{
	font-weight:600;
}
.wysihtml5-toolbar{
	padding:0px !Important;
	ul, li{
		padding:0px !Important;
		margin:0px !Important;
	}
	.btn{
		font-family:$font-family-sans-serif;
		font-weight:500;
		font-size:13px;
		line-height:1em;
	}
	.glyphicon, a .glyphicon{
		margin-top:0px !Important;
		font-size:12px !important;
	}
	a .glyphicon.glyphicon-quote{
		top:-1px !important;
	}
}
.cornerButton{
	position:absolute;
	right:5px;
	top:5px;
	z-index:10;
	border-radius:11px;
	background-color:$blue;
	color:$white !important;
	font-size:16px;
	width:18px;
	padding:0px 2px 0px 2px;
	text-align:center;
	line-height:1em;
}
.cornerButton:hover{
	background-color:$blue;
}



.mediaEmbed {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin:10px;
  font-size:11px !important;
  font-family: $font-family-sans-serif !important;
  line-height:1.2em;
  max-width: 100%;
  img{
    padding-bottom:0px;
  }
  font{
  	font-family: $font-family-sans-serif !important;
  	font-size:11px !important;
  }
  p{
    font-size: 11px;
    font-family: $font-family-sans-serif;
  }
}
.embedQuarter{
	max-width: 24%;
}
.embedHalf{
	max-width: 49%;
}
.embedFull{
	max-width: 100%;
}

.mediaEmbedError {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap;
}
.mediaEmbedHelpLink a{
	font-size:13px;
	text-decoration:none;
}
.mediaEmbedHelpLink a:active, .mediaEmbedHelpLink a:hover{
	text-decoration:none;
}
.mediaEmbedHelp {
  font-size: 11px;
  line-height: 1.1em;
  display:none;
  padding: 0px 0px 0px 15px;
}
.mediaEmbedHelp blockquote {
  font-size: 11px;
  line-height: 1.1em;
  margin-bottom:0px;
  border:0px;
}

/* ensure auto-complete lookups are forward of modals */
.ui-autocomplete {
  z-index: 99999 !important;
}

.favorite-placeholder {
  height: 120px;
  background-color: #ccc;
  margin:0px 0px 5px 0px;
}

/* WYSIWYG editor media list */
.media-item-thumb img {
  width: 120px;
}

/* Media Item Embed Dropdown */
.dropdown-media-item{
        height: 200px;
        overflow-y: hidden;
        white-space: normal;
	color: #000;
	padding: 2%;
}
.dropdown-media-hidden{
	position: absolute;
	background-color: $gray;
	height: inherit;
	padding: 10%;
	text-align: center;
	opacity: 0.95;
	color: #fff;
	pointer-events: none; 
}
#dropdown-media {
  width: 800px;
  left: -550px;
  max-height: 300px;
  overflow-y: auto;
  margin-right: 10px;
}
.itemIconPadding{
	padding: 20px;
	height: auto;
	text-align: center;
	color: #666;
}
.media-item-title{
	color: #666;
	p{
		font-size: 14px;
		line-height: 16px;
	}
	font-size: 14px;
	line-height: 16px;
}
/*Independent scrolling for user guide/docs*/

.guide_row {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    backface-visibility: hidden;
    will-change: overflow;
}

.guide_col {
    overflow-y: scroll;
    /* height: auto;
   padding: .5rem; */
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.guide_padding {
    padding-bottom: 25px;
}

.int_link:before {
    display:block;
    content: " ";
    height: 110px;
    margin-top: -110px;
    visibility:hidden;
}


/* */

ul.ui-autocomplete {
	overflow-y: auto !important;
	max-height: 200px !important;
}

.modal-fullscreen {
  position: absolute;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  display: none;
}

/* Query builder */

#queryBuilderContainer{
	.query-builder > .rules-group-container{
		border:0px !important;
		background-color:transparent;
	}
	.btn-success{
		color:$green;
		background-color:transparent;
	}
	.btn-danger{
		background-color:transparent;
		color:red;
	}
	.btn-primary.active{
		background-color:$blue;
	}
	.btn-primary{
		background-color:$gray;
	}
	.form-control{
		height:auto;
		font-size:12px;
		padding:3px;
	}
	.rules-group-container{
		background-color:white;
		border:0px;
		border:1px solid $lt_gray;
	}
	.rule-container{
		background-color:$md_gray;
		border:1px solid $lt_gray;
	}

}
/* WELCOME */
.btn-group > .dropdown-menu > li > a{
	width: 100%;
}
/* DASHBOARD FILTERS */
.active_filter {
	background-color: $green !important;
	color: $white !important;
}
.filter_head{
	h6 {
		margin: 0 0 0 10px;
	}
}

.dropdown-menu-dash{
	top: -60px;
	left: 55px;
}

blockquote .linkListCaption, blockquote .relatedResourceListCaption {
  font-size: 11px;
}

.zoomableViewer {
  width: 100%;
  height: 600px;
}

#mediaViewerModal {
  width: 100%;
  height: 100%;
}

/* REGISTRATION PAGE */
.flashMessage{
	color: $red;
}

/* NEW RESOURCE DROPDOWN */

#newResourceContainer{
	display: none;
	top: 70px;
	left: 15px;
	width: 125px;
	li > a{
		display: block;
		padding: 3px 20px;
		font-weight: normal;
		letter-spacing: normal;
		font-size: 12px;
	}
	li > a:hover{
		border: none;
		padding: 3px 20px;
	}
	li:hover{
		background-color: none;
		border: none;
	}
}

.form-control {
    max-width: 300px;
}

#find_resource_id {
    border: 1px solid #cccccc;
    height: 25px;
}

.collectionObjectResultsAdd, .resourceResultsAdd {
    font-size: 14px;
    padding-bottom: 10px;
}

.quickSearchRefineAutocomplete {
    font-size: 12px;
    border: 1px solid #cccccc !important;
}