$font-family-sans-serif:'Hind', sans-serif;
$font-family-sans-serif2:'Oswald', sans-serif;
$blue:#10069f;
$gray:#8a898a;
$bluegray:#337ab7;
$yellow:#f9ce29;
$green:#419276;
$md_gray:#DEDEDE;
$lt_gray:#eaeaeb;
$black:#000000;
$white:#FFFFFF;
html{
	position:relative;
	min-height: 100%;
}
body {
	padding-top: 180px; 
	padding-bottom: 130px;
	
	font-family: $font-family-sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #8a898a;
	line-height: 1.35em;
}
a:hover{
	background:inherit;
}
a, a:focus{
	outline: 0;
}
p, ul, li{
	font-family: $font-family-sans-serif;
	font-size: 17px;
	line-height: 1.35em;
}
.btn-default, a.btn-default{
	color:white !important;
}
.btn-noBg{
	color:$blue !important;
	background:transparent !important;
}
.btn-noBg:hover{
	color:$blue !important;
}
.btn-lg-icon i.fa{
	font-size:30px;
}
.btn-lg i.fa{
	font-size:20px;
}
.dropdown-menu .btn{
	text-align:left;
}
.dropdown-menu .btn-noBg:hover{
	background-color:$blue !important;
	color:white !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-top: 10px;
}
h1{
	color:black;
	margin-top:0px;
}
h2, .h2{
	font-size:24px;
}
h3, .h3{
	font-weight:700;
	font-size:17px;
	margin-top:0px;
	padding-top:0px;
}
h4{
	/*background-color:$gray;*/
	color:$gray;
	border-radius:3px;
	background-color:$lt-gray;
	font-weight:600;
	text-transform:capitalize;
	padding:10px 10px 10px 10px;
	margin-top:0px;
	a{
		color:$gray;
	}
	a:hover{
		text-decoration:none;
	}
	.btn-default{
		color:$gray !important;
		background:transparent;
		border:0px;
		margin-left:10px;
	}
	.btn-default:hover{
		color:$blue !important;
		background:transparent;
	}
	.small{
		color:black;
		text-transform:none;
		padding-top:5px;
		font-size:11px;
	}
}
.rowLessPadding{
	margin-left:-5px;
	margin-right:-5px;
	div{
		padding-left:5px;
		padding-right:5px;
	}
}
.fullDivideWrapper{
	margin-top:50px;
	margin-bottom:80px;
	.fullDivide{
		position:absolute;
		left:0;
		width:100%;
		background-color:$lt_gray;
		height:15px;
	}
}
.scaleImg img{
  width:100%;
  height:auto;
}
.modal-body .scaleImg img{
    max-height:600px;
    object-fit:contain !important;
}
.modal-body iframe{
  height:400px !important;
  width: 100% !important;
}
.btn{
	font-family:'Oswald', sans-serif;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border:0px;
	border-radius:0px;
}
.btn-lg{
	font-size:17px;
	padding: 0.85em 2em;
}
.btn-green{
	background-color:$green !important;
}
.featureBox{
	margin-left:0px;
	margin-right:0px;
	background-color:$yellow;
	.col-sm-6{
		padding:0px 15px 0px 0px;
		.featureBoxText{
			padding:70px 50px 0px 50px;
			p{
				margin-top:20px;
				color:#000000;
				font-size: .9em;
			}		
		}
	}
	img{
		width:100%;
		height:auto;
	}
}
.navbar-header{
	min-height:64px;
}
.navbar-header{
	
	a.navbar-brand{
		font-size:18px;
		font-weight: 700;
		text-transform:uppercase;
		padding:8px 15px 0px 15px;
		.glyphicon{
			font-size:24px;
			margin-left:3px;
			margin-right:1px;
			color:$gray;
		}
		img{
			max-width:185px;
			height:auto;
			display:inline;
			margin:0px;
		}
	}
	@media(min-width: 768px){
		img{
			max-width:100px !important;
		}
	}
	@media(min-width: 1024px){
		a.navbar-brand{
			font-size:30px;
		}
		img{
			max-width:185px !important;
		}
	}
}
.navbar-form{
	.quickSearch{
		position:relative;
	}
	@media(max-width: 767px){
		.form-control{
			width:80%;
			display:inline;
			border-radius:0px;
		}
		.quickSearch{
			background-color:transparent;
			height:37px;
			text-align:center;
		}
		.btn-default{
			background-color:transparent;
			color:$gray !important;
		}	
	}
	@media(min-width: 767px){
		.form-control{
			background-color:rgba(255,255,255,0.1);
			border:none;
			color:white;
			box-shadow: none;
			border-radius:0px;
			margin-top:10px;
			margin-left:7px;
		}
		.form-control:focus{
			border:none;
			box-shadow: none;
			outline: 0 none;
			background-color:rgba(255,255,255,0.2);
		}
		.btn-default{
			border:none;
			background-color:transparent;
			color:white;		
			border-radius:0px;
			font-size:20px;
			margin:0px 0px 0px 6px;
			padding:0px;
			.glyphicon{
				top:5px;
			}
		}
		::-webkit-input-placeholder{  
		   color: white;  
		}
		:-moz-placeholder{  
		   color: white;  
		}
		::-moz-placeholder{  
		   color: white;  
		}
		:-ms-input-placeholder {  
		   color: white;  
		}
		#advSearchLink{
			text-align:right;
			position:absolute;
			bottom:-23px;
			right:25px;
			a{
				font-size:10px;
				text-transform:none;
				padding:0px;
			}
		}
	}
}
@media(min-width: 1200px){
	#navbar.navbar-right{
		margin-right:80px;
	}
}
#navbar{
	a{
		font-family:$font-family-sans-serif;
		font-weight:500;
		text-transform:uppercase;
		font-size:17px;
		color:$gray;
		letter-spacing: 1px;
		padding-left:20px;
		padding-right:20px;
	}
	li{
		padding:4px 0px 3px 0px;
	}
	li:hover{
		border-bottom: 7px solid $blue;
	}
	li:hover a{
		color: $bluegray;
	}
	@media(min-width: 1200px){
		li.firsticon{
			padding-left:41px;
			margin-right:-5px;
		}
	}
	li.icon:hover {
		border-bottom: none;
	}
	li.icon:hover a{
		color:$gray;
	}
	li.icon{
		padding-top: 2px;
		a{
			font-size:22px;
			padding-left:15px;
			padding-right:15px;
		}
	}
	ul.dropdown-menu a{
		font-family:$font-family-sans-serif;
		font-weight:400;
		text-transform:none;
	}
	.dropdown .glyphicon{
		color:$gray;
	}
}
#subnavbar{
	background-image: image-url('subNavBg2.png');
	background-position: center top; 
	background-color:$black;
	background-size: cover;
	a{
		font-family:$font-family-sans-serif;
		font-weight:500;
		text-transform:uppercase;
		font-size:17px;
		color:#FFFFFF;
		letter-spacing: 1px;
		padding:25px 20px 25px 20px;
	}
	.navTitle{
		float:left;
		padding:0px 0px 2px 3px;
		a{			
			color:#FFFFFF;
			letter-spacing: 0.05em;
			font-family:$font-family-sans-serif2;
			font-size:38px;
			font-weight: 700;
			text-transform: uppercase;
			line-height:auto;
			padding:0px !important;
			.topLine{
				font-size:20px;
				font-weight: 400;
				line-height:auto;
				padding:0px !important;
			}
		}
		a:hover{
			text-decoration:none;
		}
	}
	@media(max-width: 767px){
		#exmenu{
			background-color:#FFF;
			clear:both;
			a{
				color:$gray;
				padding-top:5px;
				padding-bottom:5px;
			}
		}
	}
	@media(min-width: 767px){
		li{
			padding:2px 0px 0px 0px;
		}
		li:hover, li.dropdown.open{
			background-color:rgba(255,255,255,0.1);
			border-bottom:7px solid $bluegray;
			a{
				padding-bottom: 20px;
				background-color:transparent;
			}
			ul.dropdown-menu{
				margin-top:7px;
			}
		}
		li.dropdown.open ul li{	
			border:0px;
			a{
				color:$gray;
				padding:0px;
				font-size:12px;
				padding:5px 10px 5px 10px;
			}
		}
		li.dropdown.open ul li:hover{
			a{
				padding:0px;
				border:0px;
				padding:5px 10px 5px 10px;
			}
		}
	}	
}
#advancedSearchContainer{
	display:none;
	.btn-noBg{
		font-size:20px;
		margin-top:-12px;
		margin-right:-10px;
	}
	.additionalFields{
		display:none;
	}
}
.shadowed{
	box-shadow: 0px 0px 3px $gray;
}
label.control-label{
	margin-bottom:0px;
}
.form-control{
	box-shadow:none;
}
.panel-heading{
	color:white !important;
	text-transform:uppercase;
}
.panel-body{
	a{
		color:$blue;
		.glyphicon{
			margin-top:3px;
		}
	}
	input, select, .form-control{
		border:none;
	}	
	HR, hr{
		color: white;
		border-color: white;
		margin:5px 0px 10px 0px;
	}
}
.panel{
	box-shadow:none;
	border:0px;
}
input.input-sm{
	font-size:10px;
	padding:3px;
	height:19px;
	line-height:1em;
}
select.input-sm{
	font-size:10px;
	padding:3px;
	height:21px;
	line-height:1em;
}
.wysihtml5-toolbar{
	a{
		color:$gray !important;
		padding:3px;
		background-color:$lt_gray;
		border:0px;
	}
	a:hover{
		background-color:white;
	}
}
.note-toolbar{
	background-color:white !important;
	.btn-group{
		margin-top:0px !important;
		margin-right:0px 5px 0px 5px;
		.note-btn{
			color:$blue !important;
			background-color:white;
			margin:0px !important;
			padding:5px 5px 0px 5px;
		}
		.open > .note-btn.dropdown-toggle, .open > .note-btn.dropdown-toggle:hover{
			background-color:white !important;
		}
	}
}
.formatting_options label{
	font-weight:normal;
}
.hpFeatures{
	margin-top:30px;
	.row{
		margin-top:30px;
	}
	H1{
		margin-top:50px;
		margin-bottom:50px;
	}
	img{
		width:100%;
		height:auto;
	}
	H3{
		text-transform:none;
		margin-top:5px;
	}
}
.dbResourceList{
	max-height:400px;
	overflow-y:auto;
	margin-bottom:20px;
}
.dbUnit{
	padding:5px 10px 5px 10px;
	.btn{
		margin-right:10px;
	}
	.dropdown-menu{
		min-width:auto;
		.btn{
			margin-right:0px;
			text-align:left
		}
		.btn:hover{
			color:white !important;
			background-color:$blue !important;
		}
	}
	HR{
		color: $lt_gray;
		margin:10px 0px 5px 0px;
	}
	input.form-control{
		width:85%;
		display:inline;
		position:relative;
		top:-2px;
	}
	select.form-control{
		width:100%;
		display:inline;
	}
	button{
		color:$blue;
		padding:0px 0px 0px 3px;
		border:0px;
		background-color:transparent;
	}
	.dbFavorite{
		font-size:11px;
		position:relative;
		margin-bottom:10px;
        line-height:1.1em;
		img{
			width:100%;
			height:auto;
			margin:0px 0px 5px 0px;
		}
	}
}
.previewThumbnail{
	min-height:250px;
  .caption{
    font-size:11px;
    padding:5px 0px 0px 0px;
    max-height:40px;
    overflow-y:scroll;
    line-height:1.1em;
    color:$gray;
  }
  iframe{
    width: 100% !important;
  }
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: black;
  color:white;
  padding-top:40px;
  font-size:11px;
  border-top:7px solid $blue;
  a {
  	color:white;
  	font-family: $font-family-sans-serif2;
	font-size: 17px;
	font-weight: 400;
	text-transform:uppercase;
  }
}

li.tagList {
  list-style: none;
}
/* LOGIN FORM */
.oauth-buttons{
	margin-bottom:20px;
}
.oauth-button{
	padding: 10px 10px 10px 10px;
	width:100%;
	margin-bottom:10px;
	text-transform:none;
	text-align:left;
	font-size:20px;
	font-weight: 500;
	font-family: $font-family-sans-serif !important;
}
.oauth-button .icon{
	float:left;
	width:50px;
	text-align:center;
	margin-right:20px;
	padding-right:10px;
	border-right:1px solid $white;
	line-height:1em !important;
}
.oauth-button img{
	height:30px;
	width:auto;
	padding-top:5px;
	padding-bottom:5px;
}
.oauth-button .fa{
	font-size:25px;
	margin-top:2px;
}
/* forms */
.form-group{
	font-size:14px;
}
.form-group label{
	font-weight:600;
}
.wysihtml5-toolbar{
	padding:0px !Important;
	ul, li{
		padding:0px !Important;
		margin:0px !Important;
	}
	.btn{
		font-family:$font-family-sans-serif;
		font-weight:500;
		font-size:13px;
		line-height:1em;
	}
	.glyphicon, a .glyphicon{
		margin-top:0px !Important;
		font-size:12px !important;
	}
	a .glyphicon.glyphicon-quote{
		top:-1px !important;
	}
}
.cornerButton{
	position:absolute;
	right:5px;
	top:5px;
	z-index:10;
	border-radius:11px;
	background-color:$blue;
	color:$white !important;
	font-size:16px;
	width:18px;
	padding:0px 2px 0px 2px;
	text-align:center;
	line-height:1em;
}
.cornerButton:hover{
	background-color:$blue;
}



.mediaEmbed {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin:10px;
  font-size:11px;
  img{
    padding-bottom:0px;
  }
}

.mediaEmbedError {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap;
}
.mediaEmbedHelpLink a{
	font-size:13px;
	text-decoration:none;
}
.mediaEmbedHelpLink a:active, .mediaEmbedHelpLink a:hover{
	text-decoration:none;
}
.mediaEmbedHelp {
  font-size: 11px;
  line-height: 1.1em;
  display:none;
  padding: 0px 0px 0px 15px;
}
.mediaEmbedHelp blockquote {
  font-size: 11px;
  line-height: 1.1em;
  margin-bottom:0px;
  border:0px;
}

/* ensure auto-complete lookups are forward of modals */
.ui-autocomplete {
  z-index: 99999 !important;
}

.favorite-placeholder {
  height: 120px;
  background-color: #ccc;
  margin:0px 0px 5px 0px;
}

/* WYSIWYG editor media list */
.media-item-thumb img {
  width: 120px;
}

#dropdown-media {
  width: 150px;
  max-height: 300px;
  overflow-y: auto;
  margin-right: 10px;
}