// Place all the styles related to the QuickSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-family-sans-serif:'Hind', sans-serif;
$font-family-sans-serif2:'Oswald', sans-serif;
$blue:#10069f;
$gray:#8a898a;
$bluegray:#337ab7;
$yellow:#f9ce29;
$green:#419276;
$md_gray:#DEDEDE;
$lt_gray:#eaeaeb;
$lt_lt_gray:#fefefe;
$black:#000000;
$white:#FFFFFF;

#collectionsResultsContainer, #colObjectResultsContainer, #resourceResultsContainer{
	margin-bottom:40px;
}
.qsResult{
	position:relative;
	text-align:center;
	margin-bottom:25px;
	line-height:1.1em;
	overflow:hidden;
	img{
		width:100%;
		max-height:200px;
		object-fit: contain;
	}
	a{
		font-family: $font-family-sans-serif2;
		font-size:13px;
		color:$blue !important;
		line-height:1.1em !important;
	}
	.small{
		font-size:11px;
		line-height:1.2em;
		padding:0px;
	}
	hr{
		margin-top:10px;
		margin-bottom:10px;
	}
	.qsMoreCaption{
		display:none;
	}
}
.qsResultText{
	padding-top:10px;
	text-align:left;
	a{
		font-family: $font-family-sans-serif2;
		font-size:13px;
		color:$blue !important;
	}
	.indent{
		padding-left:15px;
	}
}
.qsResult:hover{
	overflow:visible;
	box-shadow: 3px 3px 3px #dedede;
	.qsResultText{
		background-color:rgba(255,255,255,0.9);
		.qsMoreCaption{
			display:block;
			position:absolute;
			z-index:10;
			background-color:rgba(255,255,255,0.9);
			border-top:1px solid $lt_gray;
			padding:5px 15px 5px 15px;
			left:0px;
			right:0px;
			box-shadow: 3px 3px 3px #dedede;
		}
	}
}
.thumbPlaceholder{
	padding: 50px 30px 10px 30px;
	background-color: white;
	color: $lt_gray;
}
.btn-exch-green{
	background-color: $green;
	color: #fff;
}
.btn-exch-green:hover{
	background-color: $green;
	color: #fff;	
}
.searchPaging{
	position: relative;
	top: -3px;
	font-size: 14px;
}
.itemsPerPage{
	font-size: 14px;
}
