// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-family-sans-serif:'Hind', sans-serif;
$font-family-sans-serif2:'Oswald', sans-serif;
$blue:#10069f;
$gray:#8a898a;
$bluegray:#337ab7;
$yellow:#f9ce29;
$green:#419276;
$md_gray:#DEDEDE;
$lt_gray:#eaeaeb;
$black:#000000;
$white:#FFFFFF;
.modal.modal-wide .modal-dialog {
  width: 90%;
  text-align:left;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.modal-header{
	background-color:$blue;
	padding:20px;
	h2{
		color:white;
	}
	.close{
		color:white;
		opacity:1;
		font-size:35px;
	}
	.close:hover{
		opacity:.9;
		color:white;
	}
}
.green-header{
	background-color: #419276;
}
#formatting-options-status {
  display: none;
}
.modal .panel{
	background-color:#FFFFFF;
	padding:20px;
}
.tab-content .panel{
	background-color:#FFFFFF;
	hr{
		color:$md_gray;
		border-color:$md_gray;
	}
}
.tab-pane{
	margin-top: 10px;
}
.tab-content .panel-subbody{
	padding:0px 5px 0px 10px;
}
.tab-content H3, .panel-body H3{
	color:$gray;
	margin-top:10px;
	font-weight:500;
	font-family: $font-family-sans-serif;
}
.modal .tab-content .panel-body label{
	font-weight:400;
}
.modal .modal-body .form-control, .modal .panel-body .form-control, .tab-content .panel-body .form-control{
	border: 1px solid $lt_gray !important;
}
.nav-tabs{
	margin-top:20px;
}
.nav-tabs .active a{
	color:$blue !important;
}
.nav-tabs a{
	color:$gray;
	font-family:$font-family-sans-serif2;
	text-transform:uppercase;
	font-weight:600;
}
.nav-tabs a:hover{
	background-color:#FFF;
	color:$blue !important;
	border-top-color:#FFF;
	border-left-color:#FFF;
	border-right-color:#FFF;
}
.tab-content{
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-bottom:20px !important;
	margin-top:-10px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
}
.modal .nav-tabs{
  .fa {
    font-size: 20px;
    margin-right:5px;
  }
  a{
    text-transform:none;
    font-family:$font-family-sans-serif;
    font-weight:normal;
    font-size:14px;
    color:$gray;
  }
  li{
    text-align:center;
  }
}
.form-group label.inline{
	display:inline;
	font-weight:400;
}
#resource_media_list_heading .btn, #collection_contents_list_heading .btn{
	width:100%;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	font-size:18px;
}
#collection_contents_list_heading .btn{
  font-size:16px;
  padding-left:0px;
}
#resource_media_list, #collection_contents_list{
	padding:0px;
}
.mediaListIcon, .collectionContentsItem{
	position:relative;
	line-height:1em !important;
	margin:15px;
	a{
		font-size:12px;
		font-family: $font-family-sans-serif;
		line-height:1em !important;
	}
	a .fa-times{
		font-size:14px;
		line-height:1.3em !important;
	}
	img{
		width:100%;
		height:auto;
	}
	small{
		font-size:10px;
		display:inline-block;
		color:$gray !important;
	}
	i.fa-angle-double-right {
		margin-left:-10px;
	}
	i.fa-folder-o{
		font-size:10px;
		margin-left:-12px;
	}
	.childcollection{
		display:none;
		margin-left:15px;
	}
	iframe{
		width:100% !important;
	}
}
.relatedResources, .relatedContent{
	margin-top:15px;
	max-height:300px;
	overflow:auto;
	div{
		margin:15px 0px 15px 15px;
		font-size:14px;
		small{
			margin-left:15px;
		}
	}
}

/*  DETAIL/PREVIEW */
.author_show{
	display: none;
	font-style: italic;
}
.detailButtons{
	padding-top:10px;
	a{
		font-size:24px;
		color:$blue;
		text-decoration:none;
		.fa{
			margin-left:10px
		}
	}
	a:hover{
		text-decoration:none;
	}
	.authorLink{
		a{
			font-size: 17px;
		}
	}
}
.detailButtonsResource{
	margin:10px -15px 10px -15px;
	padding:15px 10px 10px 10px;
	background-color:white;
	span{
      display:inline;
    }
    a{
		font-size:24px;
		color:$blue;
		text-decoration:none;
		.fa{
			margin:0px 5px 0px 5px;
		}
	}
	a:hover{
		text-decoration:none;
	}
}
.detailBodyText{
	max-height:550px;
	overflow:auto;
	margin-bottom:20px;
	padding-right:20px;
}
.collectionDetailContents{
	margin-bottom:10px;
	.collectionDetailContentsItem{
		margin-bottom:0px;
		line-height:1em;
		text-align:center;
		background-color:#ffffff;
		height:200px;
		width:100%;
		position:relative;
		overflow:hidden;
		vertical-align:middle;
		a{
			font-weight:500;
			font-size:13px;
			.thumbPlaceholder{
				background-color:white !important;
				padding-top:50px;
			}
		}
		.titleOver{
			position:absolute;
			bottom:0px;
			left:0px;
			width:100%;
			background-color:rgba(0, 0, 0, 0.6);
			padding:5px;
			z-index:10;
			line-height:1em;
			a{
				display:block;
				height:2em;
				line-height:1em;
				color:#FFF;
				overflow:hidden;
			}
			a:hover{
				text-decoration:none;
				background-color:transparent !Important;
			}
		}
		img{
			height:200px;
			object-fit: cover !important;
			vertical-align:middle;
		}
		iframe{
			width:100% !important;
		}
	}
	.collectionDetailContentsItem:hover .titleOver a{
		height:auto;
		min-height:2em;
	}
	small{
		text-align:right;
		font-size:11px;
		margin-bottom:10px;
		display:block;
		padding-top:2px;
		line-height:1em;
	}
}
#detailParentInfoPanel{
	margin-top:-20px;
	display:none;
}
.hiddenParentPanel{
	display:none;
}
.detailRelatedContentBlock{
	margin:20px 0px 20px 0px;
	.detailRelatedContentBlockScroll{
		max-height:150px;
		overflow:auto;
		padding:0px 10px 0px 10px;
		font-size:13px;
		div{
			margin-bottom:10px;
			font-size:13px;
			line-height:1.2em;
			a{
				font-weight:500;
				font-size:13px;
			}
			small{
				font-size:11px;
				margin-left:10px;
			}
		}
	}
}
#detailTags{
	margin-top: 10px;
}
.detailComments{
	margin-bottom:20px;
	div{
		padding:0px 10px 0px 10px;
		margin:0px 0px 20px 0px;
		font-size:14px;
		line-height:1.3em;
		small{
			font-size:11px;
			margin-left:10px;
		}
	}
}
#resourceCarousel{
	margin-bottom:30px;
	vertical-align: top;
	max-height:75vh;
	.carousel-inner{
		text-align:center;
		vertical-align: top;
		img{
			/* width:100%; */
			height:50vh;
			object-fit:contain !important;
	        max-height:400px;
			vertical-align: top;
		}
		.slideshowCaption, .slideshowCaption, .slideshowCaption, .slideshowCaption p{
			background-color:#FFF;
			font-size:13px !important;
			padding:5px 0;
			text-align:center;
			position:relative;
			z-index:1000;
			font{
				font-family: $font-family-sans-serif !important;
				font-size:13px !important;
			  }
		}
		.captionContainer{
			overflow-y:auto;
			max-height:25vh;
		}
		iframe{
			width:100% !important;
		}
	}
}
#slideCarousel{
	padding: 0 15%;
	vertical-align: top;
	height:90vh;
	.carousel-inner{
		text-align:center;
		vertical-align: top;
		iframe, img{
			width:100%;
			height:80vh;
			object-fit:contain !important;
			vertical-align: top;
		}
		.slideshowCaption, .slideshowCaption, .slideshowCaption, .slideshowCaption p{
			background-color:#FFF;
			font-size:13px !important;
			padding:10px;
			text-align:center;
			position:relative;
			z-index:1000;
			font{
				font-family: $font-family-sans-serif !important;
				font-size:13px !important;
			  }
		}
		.captionContainer{
			overflow:auto;
			height:20vh;
		}
		.control-arrow{
			color: #10069f;
		}
	}
	.blackCaption{
		.item {
			.captionContainer{
				.slideshowCaption, .slideshowCaption p{
					background-color: #000;
					color: #fff;
				}
			}
			.carouselImageHeight{
				a{
					color: #fff;
				}
				.iconPadding{
					height: 50vh;
					background-color: #fff;
					width: 50vw;
					padding: 20vh 20vw;
					border: 5px solid $gray;
					border-radius: 10px;
					margin: auto;
				}
				.previewMedia{
					.previewMediaCaption{
						background-color: #000;
						color: #fff;
						.previewMediaHalf{
							.mediaTips{
								span{
									.previewMediaIcon{
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.collectionObjectDetailText{
	font-size:14px;
	line-height:1.2em;
}
.resourceSidePanel{
	line-height:1.2em;
	font-size:12px;
	p{
		font-size:13px;
		line-height:1.2em;
	}
	.unit{
		padding-bottom:10px;
		border-bottom:1px solid $white;
		line-height:1.2em;
        div{
          padding-bottom: 10px;
        }
	}
	H4{
		font-size:16px;
		padding:0px;
		margin-top:15px;
		background-color:transparent;
	}
	.resourceGrid{
		margin-left:-5px;
		margin-right:-5px;
		div{
			height:30px;
			overflow:hidden;
			padding-left:5px;
			padding-right:5px;
			margin-bottom:10px;
			text-align:center;
			img{
				width:auto;
				height:100%;
			}
			.fa{
				font-size:30px;
			}
		}
	}
	.scrollList{
		max-height:300px;
		overflow-y:scroll;
		margin-bottom:20px;
	}
	.scrollList::-webkit-scrollbar{
		display: none;
	}
}

#find_child_resource_id {
  width: 300px;
  display: inline;
}
.previewMedia{
	position:relative;
	display:inline-block;
	vertical-align: top;
	img{
		max-width:100%;
		height:auto;
	}
	.previewMediaIcon {
		display: inline-block;
		width: 50px;
		margin: 0 auto;
		color: $gray;
		background-color: none;
		padding:4px;
		line-height:1em;
		font-size:12px;
		z-index:10;
		/*-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);*/
		/*-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);*/
		/*box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);*/
		border-radius:3px;
	}
	.mediaTips{
		margin: auto 0;
		display: inline-block;
		color: $gray;
	}
	.mediaTipsPopover{
		display:none;
		width: 200px;
	}
	.previewMediaCaption{
		font-size:11px;
		background-color:#FFFFFF;
		text-align:center;
		color:$gray;
	}
}

.moRelated > a > span > .iconPadding{
	padding: 0;
	margin: 0 auto;
}
.iconPadding{
	padding: 40px;
	max-width: 100%;
	height: auto;
}
.popover{
	width: 300px;
}

.collection_summary_panel{
	.btn{
		position:absolute;
		top:-15px;
		right:-5px;
	}
	.btn-lg-icon i.fa{
		font-size:20px !important;
	}
	.collection_summary_resources {
		h5{
			margin-top:0px !important;
		}
	}
}

/* Carousel Customization */

.carouselNav{
	margin-bottom:10px;
	color: $gray;
	font-size:12px;
	span{
		vertical-align:top;
		width:60px;
		display:inline-block;
		text-align:center;
	}
	.fa-expand{
		font-size:18px;
		padding-top:5px;
	}
}



.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5%;
  opacity: 0.7;
  /*filter: alpha(opacity=50); */
  font-size: 20px;
  color: #8a898a;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent;
}
.carousel-control.left {
  background-image: none !important;
}
.carousel-control.right {
  background-image: none !important;
}
.carousel-control.left:hover {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%) !important;
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); */
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right:hover {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
#slideJumbo{
	padding: 0 !important;
	margin: 0 !important;
	background:none;
	.jumboPadding{
		width:100%;
		padding: 0 !important;
		margin: 0 !important;
		background-color: #fff;
	}
	.jumboHead {
		padding: 1% 5%;
	}
	.modal-header{
		border-bottom: 0;
	}
}

.textSlider{
	overflow: hidden;
	-webkit-transition: all .8s linear;
	-moz-transition: all .8s linear;
	-ms-transition: all .8s linear;
	-o-transition: all .8s linear;
	transition: all .8s linear;
}
.moWrapper{
	height: 140px;
	overflow: hidden;
}
.moContainer{
	overflow-x: scroll;
	width: 100%;
	overflow-y: hidden;
	position: absolute;
	left: 0;
}
.moResults{
	padding: 0;
	white-space: nowrap;
}
.moResults::-webkit-scrollbar, .moContainer::-webkit-scrollbar{
	display: none;
}
.moRelated{
	padding: 10px 10px 0 10px;
	display:inline-block;
	width: 125px;
	vertical-align:top;
	.moRelatedCaption{
		display:none;
	}
	img{
		object-fit:contain;
		width: 100%;
		height: 100px !important;
	}
}
.moRelated:hover{
	overflow:visible;
	vertical-align: top;
	box-shadow: 3px 3px 3px #dedede;
	.moRelatedCaption{
		display: flex;
		white-space: normal;
		position:inherit;
		z-index:10;
		max-width: 200px;
		background-color: #fff;
		padding: 5px;
		left: 0px;
		right: 0px;
	}
	a{
		text-decoration: none;
	}
}
.related_scroll{
	margin-top: 50px;
}
#embedModal{
	width: 50%;
	margin: auto;
	margin-top: 30px;
}
.modal-black{
	background-color: #000 !important;
}
.jumboCaption{
	background-color: #000 !important;
		color: #fff !important;
	p, font{
		color: #fff !important;
		background-color: #000 !important;
	}
}

/* User Guide Styles */
dd > .alert, p > .alert, dt > .alert{
	padding: 0 10px;
}
