<% 
	i = 0
	col = 0
%>
<% @collections.each do |r|
	  i = i+1
	  if i > 12 
		break 
	  end
	  col = col+1
		if(col == 1)
%>
			<div class="row">
<%
		end
%>

    <div class="col-sm-2 qsResult qsResultText">
    	<%= link_to  r[:title], resource_preview_path(r[:id]) %>
		<% @resource = Resource.find(r[:id]) %>

		<div class="small">April 4 - June 23, 2016</div>
		
    </div>
<% 
		if(col == 6)
%>
			</div>
			<div class="row">
<%
		end 
	end	
%>
	</div><!-- end row -->
<%=
	if(@resources.count > 12)
		"<div class='row'><div class='col-sm-12 text-center'><a href='#' class='btn btn-default'>View All</a></div></div>".html_safe
	end
%>