<% @media_files.each do |r| %>
    <%
        # TODO: this is a lame way to pull the images...
        m = MediaFile.find(r[:id].to_i)
    %>

    <div class="media">
      <div class="media-left media-middle">
          <%= link_to (m.sourceable.preview :thumbnail), resource_path(r[:resource_id]) %>
      </div>
      <div class="media-body">
       <h5><%= link_to sanitize(r[:title], tags: %w(strong em a font b sup sub u), attributes: %w(href style)), resource_path(r[:resource_id]) %></h5>
      </div>
    </div>
<% end %>